/* STYLES ZERO-OUT */

* {
    box-sizing: border-box;
}

html, body {
    margin: auto;
    padding: 0em;
    border: 0em;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/light-grey-terrazzo.png");
}


/* FULL PAGE CONTROLS */

#main {
    width: 70%;
}

#header-box {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;

    border-bottom: .1em solid #cccccc;
    margin-bottom: 2em;
}

#header-box-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;

}


/* NAV CONTENT & TABS */

#name-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
    width: fit-content;
    background-color: #4aaaa5;

    padding-left: 1em;
    padding-right: 1em;

    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.725em;
    font-weight: bold;
    text-align: center;

}

#tab-box {
    display: flex;

    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;

}

.tab {
    height: fit-content;
    width: 5em;
    background-color: white;

    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: center;
    line-height: fit-content;

}

/* .about-tab {
    padding-right: .75em;

} */

.porfolio-tab {
    border-left: .05em solid #cccccc;
}

.contact-tab {
    border-left: .05em solid #cccccc;

}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}


/* MAIN CONTENT BOX */

/* ABOUT-TAB CSS */

#header-hr { 
    width: 100%;
    display: block;
    margin-top: 0em;
    margin-bottom: 3em;
    background-color: #cccccc;
    border-color: #cccccc;
    border-style: solid;
    border-width: .05em;
  }


#text-box {
    display: flex;
    flex-flow: column;
    background-color: white;
    border: .01em solid #dddddd;

    padding: 1.5em;

    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: left;
    line-height: 1.5;

}

#content-label {
    background-color: white;

    border-bottom: 0em;

    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: left;
    line-height: 2em;

}


#content-hr { 
    width: 100%;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color: #cccccc;
    border-color: #cccccc;
    border-style: solid;
    border-width: .05em;
}


#my-picture { 
    height: 7.5em;
    width: 7.5em;
    
    position: static;
    float: left;

    margin-top: 1.5em;
    margin-right: 1em;
    margin-bottom: 1em;
}


/* FOOTER */

#bottom-spacer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    line-height: 5em;

}

#footer-box {
    height: 4em;
    width: 100%;
    background-color: #666666;

    padding-top: .75em;
    bottom: 0;
    position: fixed;
    border-top: .375em solid #4aaaa5;

    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: .875em;
    text-align: center;

}


/* ------------ MEDIA QUERIES -------------- */

/* ---- 904 PX ---- */
@media screen and (max-width: 904px) {
    #name-box {
        width: 100%;
    }

    #tab-box {
        display: flex;
        width: 100%;
    
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

    }

    .tab {
        width: fit-content;
        border-left: 0em solid white;
        line-height: 2em;
    }

}

/* ---- 600 PX ---- */
@media screen and (max-width: 600px) {
    #name-box {
        width: 100%;
    }

    #tab-box {
        display: flex;
        width: 100%;
    
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;

    }

    .tab {
        width: fit-content;
        border-left: 0em solid white;
        line-height: 2em;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

/* Portrait */
@media only screen 
and (min-device-width: 0px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

    #main {
        width: 90%;
    }

    #header-box-center {
        width: 90%;
    }

    #name-box {
        width: 100%;
    }

    #tab-box {
        display: flex;
        width: 100%;
    
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;

    }

    .tab {
        width: fit-content;
        border-left: 0em solid white;
        line-height: 2em;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 0px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

    #main {
        width: 80%;
    }

    #header-box-center {
        width: 80%;
    }
    #name-box {
        width: 100%;
    }

    #tab-box {
        display: flex;
        width: 100%;
    
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

    }

    .tab {
        width: fit-content;
        border-left: 0em solid white;
        line-height: 2em;
    }

}

  

/* CONTACT-TAB CSS */
