/* STYLES ZERO-OUT */

html, body {
    margin: 0em;
    padding: 0em;
    border: 0em;
    font-size: 16px;

}


/* FULL PAGE CONTROLS */

#main {

    display: flex;
     width: 70%;
    margin: 0 auto;

   /* height: 100%;
    width: 100%; */

    position: absolute;
    float: left;

    /* margin: auto; */

}

/* HEADER SPACERS */

#header-box {
    height: 5.5em;
    width: 100%;
    background-color: white;

    /* padding: 0em;
    margin: auto; */

    border-bottom: .1em solid #cccccc;
    
    position: absolute;
    float: left;

}

#header-box-center {
    height: 5.5em;
    width: 60em;
    background-color: rgb(240, 215, 215);

    padding: 0em;
    margin: auto;

    border-bottom: .1em solid #cccccc;
    
    position: relative;
    float: none;

}
/* 
.row:after {
    content: "";
    display: table;
    clear: both;
} */

/* NAV CONTENT & TABS */

#name-box {
    height: 3em;
    width: fit-content;
    background-color: #4aaaa5;

    padding-left: 1em;
    padding-right: 1em;

    margin: 0em;
    
    position: relative;
    float: left;

    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.825em;
    font-weight: bold;
    text-align: center;
    line-height: 3em;

}


.tab {
    height: fit-content;
    width: 3.75em;
    background-color: white;
    
    position: relative;
    float: right;
    
    margin-top: 1.625em;

    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: center;
    line-height: fit-content;

}

.about-tab {
    padding-right: .75em;

}
.porfolio-tab {
    border-left: .05em solid #cccccc;
    border-right: .05em solid #cccccc;

    padding-left: .75em;
    padding-right: .75em;
}
.contact-tab {
    padding-left: .75em;

}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/* 
.row:after {
    content: "";
    display: table;
    clear: both;
  } */

/* MAIN CONTENT BOX */
/* ABOUT-TAB CSS */

#text-box {
    height: fit-content;
    width: 45em;
    background-color: rgb(197, 218, 230);
    border: .01em solid #dddddd;


    padding: 1.5em;
    margin: auto;
    margin-bottom: 4.4em;
    margin-top: 2em;

    position: relative;
    float: none;

    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: left;
    line-height: 1.5;

}


.content-label {
    height: 2em;
    width: 30em;
    background-color: rgb(224, 235, 214);
    
    position: relative;
    float: left;

    padding: 0em;
    margin: 0em;
    margin-bottom: .5em;

    border-bottom: .1em solid #cccccc;

    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: left;
    line-height: 2em;

}

#my-picture {
    height: 7.5em;
    float: left;
    margin-top: .5em;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* #first-paragraph {
    padding-top: 90px;
}
 */

/* FOOTER */

#footer-box {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;

    padding-top: .75em;
    /* margin-top: 40px; */

    border-top: .375em solid #4aaaa5;
    
    position: fixed;
    float: unset;

    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: .875em;
    text-align: center;
    line-height: 100%;

}


/* CONTACT-TAB CSS */


/* * {
    box-sizing: border-box;
  }
   */
  input[type=text], select, textarea {
    width: 43.75em;
    padding: .5em;
    border: .05em solid #ccc;
    border-radius: .2em;
    resize: vertical;

    font-size: inherit;
    color: #888888;
  }

  input[type=email], select, textarea {
    width: 43.75em;
    padding: .5em;
    border: .05em solid #ccc;
    border-radius: .2em;
    resize: vertical;

    font-size: inherit;
    color: #888888;
  }
  
  
  label {
    padding: 0em 0em 0em 0em;
    display: inline-block;
  }
  
/* SUBMIT BUTTON */

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: .5em 1em;
    border: none;
    border-radius: .2em;
    cursor: pointer;
    float: left;

    font-size: inherit;
  }
  
  ::placeholder {
    color: #cccccc;
  }

  input[type=submit]:hover {
    background-color: #4fb8b2;
  }
  
  .label {
    float: left;
    width: 100%;
    margin-top: .25em;
  }
  
  .input-box {
    float: left;
    width: 100%;
    margin-top: .25em;
  }
  
  /* ADJUST MESSAGE-ENTRY BOX */
  #message {
    height: 5em;
  }

  /* Clear floats after the columns */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content-label:after {
    clear: both;
  }


/* PORTFOLIO-TAB CSS - CARDS */

.column {
    float: left;
    width: 31%;
    padding: 0% 1%;
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 .25em .5em 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-top: 1em;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2);
  }
  
  /* TEXT CONTAINER UNDER CARD */
  .container {
    margin-top: -.5em;
    padding: .25em 1em;
    background-color: #4aaaa5;

    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: inherit;
    text-align: center;
  }

  /* @media (min-width: 736px) {
    html {
        font-size: 8px;
    }
} */



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

} */


/* 
#text-box:hover {
    color: green;
}
#text-box:focus {
    color: rgb(5, 9, 255);
}
#text-box:active {
    color: rgb(223, 3, 3);
} */



/* .center {
    margin: auto;
    width: 100%;
    border: 3px solid green;
} */



/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */
